Options +FollowSymLinks
Options -Indexes
RewriteEngine on
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301]
RewriteRule ^index.html$ index.php [L]
RewriteRule ^categories.html$ index.php?module=categories [L]
RewriteRule ^categories/?$ index.php?module=categories [L]
RewriteRule ^most-popular/?$ index.php?module=videos&order=2 [L]
RewriteRule ^top-rated/?$ index.php?module=videos&order=3 [L]
RewriteRule ^videochat/?$ index.php?module=videochat [L]
RewriteRule ^browse/([0-9]+)?/?$ index.php?module=videos&order=$1 [L]
RewriteRule ^browse/([0-9]+)/lang/([0-9]+)/?$ index.php?module=videos&order=$1&language=$2 [L]
RewriteRule ^browse/([0-9]+)/([0-9]+)/?$ index.php?module=videos&order=$1&page=$2 [L]
RewriteRule ^categ/([0-9]+)/([^/]*)/?$ index.php?module=videos&categ_id=$1 [L]
RewriteRule ^categ/([0-9]+)/([^/]*)/([0-9]+)/?$ index.php?module=videos&categ_id=$1&order=$3 [L]
RewriteRule ^categ/([0-9]+)/([^/]*)/([0-9]+)/([0-9]+)/?$ index.php?module=videos&categ_id=$1&order=$3&page=$4 [L]
RewriteRule ^channel/([0-9]+)/([^/]*)/?$ index.php?module=videos&channel_id=$1 [L]
RewriteRule ^channel/([0-9]+)/([^/]*)/([0-9]+)/?$ index.php?module=videos&channel_id=$1&order=$3 [L]
RewriteRule ^channel/([0-9]+)/([^/]*)/([0-9]+)/([0-9]+)/?$ index.php?module=videos&channel_id=$1&order=$3&page=$4 [L]
RewriteRule ^tag/([^/]*)/?$ index.php?module=videos&tag=$1 [L]
RewriteRule ^tag/([^/]*)/([0-9]+)/?$ index.php?module=videos&tag=$1&order=$2 [L]
RewriteRule ^tag/([^/]*)/([0-9]+)/([0-9]+)/?$ index.php?module=videos&tag=$1&order=$2&page=$3 [L]
RewriteRule ^tag/([^/]*)/([0-9]+)/lang/([0-9]+)/?$ index.php?module=videos&tag=$1&order=$2&language=$3 [L]
RewriteRule ^video/([0-9]+)/([^/]*)/?$ index.php?module=video&id=$1 [L]

RewriteRule ^premium/?$ index.php?module=videos&premium=1 [L]
RewriteRule ^premium/browse/([0-9]+)/?$ index.php?module=videos&premium=1&order=$1 [L]
RewriteRule ^premium/browse/([0-9]+)/lang/([0-9]+)/?$ index.php?module=videos&premium=1&order=$1&language=$2 [L]
RewriteRule ^premium/browse/([0-9]+)/([0-9]+)/?$ index.php?module=videos&premium=1&order=$1&page=$2 [L]
RewriteRule ^premium/categ/([0-9]+)/([^/]*)/?$ index.php?module=videos&premium=1&categ_id=$1 [L]
RewriteRule ^premium/categ/([0-9]+)/([^/]*)/([0-9]+)/?$ index.php?module=videos&premium=1&categ_id=$1&order=$3 [L]
RewriteRule ^premium/categ/([0-9]+)/([^/]*)/([0-9]+)/([0-9]+)/?$ index.php?module=videos&premium=1&categ_id=$1&order=$3&page=$4 [L]
RewriteRule ^premium/tag/([^/]*)/?$ index.php?module=videos&premium=1&tag=$1 [L]
RewriteRule ^premium/tag/([^/]*)/([0-9]+)/?$ index.php?module=videos&premium=1&tag=$1&order=$2 [L]
RewriteRule ^premium/tag/([^/]*)/([0-9]+)/([0-9]+)/?$ index.php?module=videos&premium=1&tag=$1&order=$2&page=$3 [L]

RewriteRule ^favorites/?$ index.php?module=videos&favorites=1 [L]
RewriteRule ^favorites/browse/([0-9]+)/?$ index.php?module=videos&favorites=1&order=$1 [L]
RewriteRule ^favorites/browse/([0-9]+)/lang/([0-9]+)/?$ index.php?module=videos&favorites=1&order=$1&language=$2 [L]
RewriteRule ^favorites/browse/([0-9]+)/([0-9]+)/?$ index.php?module=videos&favorites=1&order=$1&page=$2 [L]
RewriteRule ^favorites/categ/([0-9]+)/([^/]*)/?$ index.php?module=videos&favorites=1&categ_id=$1 [L]
RewriteRule ^favorites/categ/([0-9]+)/([^/]*)/([0-9]+)/?$ index.php?module=videos&favorites=1&categ_id=$1&order=$3 [L]
RewriteRule ^favorites/categ/([0-9]+)/([^/]*)/([0-9]+)/([0-9]+)/?$ index.php?module=videos&favorites=1&categ_id=$1&order=$3&page=$4 [L]
RewriteRule ^favorites/tag/([^/]*)/?$ index.php?module=videos&favorites=1&tag=$1 [L]
RewriteRule ^favorites/tag/([^/]*)/([0-9]+)/?$ index.php?module=videos&favorites=1&tag=$1&order=$2 [L]
RewriteRule ^favorites/tag/([^/]*)/([0-9]+)/([0-9]+)/?$ index.php?module=videos&favorites=1&tag=$1&order=$2&page=$3 [L]

RewriteRule ^profile/([0-9]+)/[^/]*/?$ index.php?module=profile&user_id=$1 [L]
RewriteRule ^profile/([0-9]+)/[^/]*/browse/([0-9]+)/?$ index.php?module=profile&user_id=$1&order=$2 [L]
RewriteRule ^profile/([0-9]+)/[^/]*/browse/([0-9]+)/lang/([0-9]+)/?$ index.php?module=profile&user_id=$1&order=$2&language=$3 [L]
RewriteRule ^profile/([0-9]+)/[^/]*/browse/([0-9]+)/([0-9]+)/?$ index.php?module=profile&user_id=$1&order=$2&page=$3 [L]
RewriteRule ^profile/([0-9]+)/[^/]*/favorites/?$ index.php?module=profile&user_id=$1 [L]
RewriteRule ^profile/([0-9]+)/[^/]*/favorites/([0-9]+)/?$ index.php?module=profile&user_id=$1&fav_order=$2 [L]
RewriteRule ^profile/([0-9]+)/[^/]*/favorites/([0-9]+)/lang/([0-9]+)/?$ index.php?module=profile&user_id=$1&fav_order=$2&language=$3 [L]
RewriteRule ^profile/([0-9]+)/[^/]*/favorites/([0-9]+)/([0-9]+)/?$ index.php?module=profile&user_id=$1&fav_order=$2&fav_page=$3 [L]

RewriteRule ^sitemap.xml$ ./modules/sitemap.php [L]
RewriteRule ^rss/videos.rss$ ./modules/rss.php [L]
RewriteRule ^rss/([0-9]+)/([^/]*).rss$ ./modules/rss.php?categ_id=$1 [L]

RewriteRule ^([^\.]+)\.html$ index.php?module=$1 [L]