<input type="hidden" name="page" id="page" value="{$page}">
<input type="hidden" name="order" id="order" value="{$order}">

<div style="padding-left:20px; padding-right:20px;">
  <span style="float:left"><b class="title">{$title_string}</b> &nbsp;({$aLabels.showing} {$start}-{$end} {$aLabels.of} {$total_videos} {$aLabels.videos})</span>
  <span style="float:right"><a href="{$browse_link}/1" class="link">{$aLabels.date}</a> - <a href="{$browse_link}/2" class="link">{$aLabels.views}</a> - <a href="{$browse_link}/3" class="link">{$aLabels.rating}</a> - <a href="{$browse_link}/4" class="link">{$aLabels.title}</a> - <a href="{$browse_link}/5" class="link">{$aLabels.duration}</a></span>
</div>

<br><br><br>

<div class="left" style="width:770px; padding:0px;">
  {foreach from=$array_videos item=video name=videos}
	<table cellpadding="0" cellspacing="8" class="text left thumb_table m3">
	  <tr><td colspan="2">
		<a href="javascript:void(0);" onclick="{if $smarty.session.user_logged}FavAddVideo({$video.id},1);{else}OpenLayer('login_register_layer');{/if}" id="favstar_off_{$video.id}" title="Add Video to Favorites." {if in_array($video.id,$array_favorites)}style="display:none;"{/if}><img src="templates/{$template}/images/star_off.png" border="0" align="absmiddle"></a>
			<a href="javascript:void(0);" onclick="{if $smarty.session.user_logged}FavRemoveVideo({$video.id},1);{else}OpenLayer('login_register_layer');{/if}" id="favstar_on_{$video.id}"  title="Remove Video from Favorites." {if !in_array($video.id,$array_favorites)}style="display:none;"{/if}><img src="templates/{$template}/images/star_on.png" border="0" align="absmiddle"></a>
		<a href="video/{$video.id}/{$video.title|regex_replace:'/[ \/"]/':'-'}" class="link" title="{$video.title|replace:'"':'&quot;'}">
		  {if $mb_available}
		    {if $language==$default_language or !$video.translations.$language.title}
				{$video.title|mb_truncate:23:"...":"UTF-8":true}
			{else}
				{$video.translations.$language.title|mb_truncate:23:"...":"UTF-8":true}
			{/if}
		  {else}
		  	{if ($language==$default_language or !$video.translations.$language.title)}
				{$video.title|truncate:15:"...":true}
			{else}
				{$video.translations.$language.title|truncate:15:"...":true}
			{/if}
		  {/if}
		</a>
	  </td></tr>
	  <tr>
	    <td colspan="2" align="center" class="thumb" style="width:{$aSettings.thumb_width}px; height:{$aSettings.thumb_height+4}px;" onmouseover="StartThumbRotation('thumb_{$video.id}','{$video.id}');" onmouseout="StopThumbRotation('thumb_{$video.id}','{$video.id}');">
	      <div style="position:relative; width:{$aSettings.thumb_width}px; height:{$aSettings.thumb_height}px;">
	        <div style="position:absolute; top:0px; left:0px; z-index:1;"><a href="video/{$video.id}/{$video.title|regex_replace:'/[ \/"]/':'-'}" title="{$video.title|replace:'"':'&quot;'}"><img src="{$video.thumbs[0]}" width="{$aSettings.thumb_width}" height="{$aSettings.thumb_height}" id="thumb_{$video.id}"></a></div>
	        {if $video.premium}<div class="premium_icon" style="position:absolute; z-index:2;" title="{$aLabels.premium_video}"></div>{/if}
	      </div>
	  	</td></tr>
	  <tr><td><b>{$video.duration_formated}</b></td><td align="right"><b>{$video.activation_date|date_format}</b></td></tr>
	  <tr><td>{$video.votes} ratings</td><td align="right"><img src="templates/{$template}/images/star_image_{$video.star_image}.png" title="Rating: {$video.rating} of 5"></td></tr>
	</table>
    {if ($smarty.foreach.videos.index+1)%$aSettings.videos_cols==0}<br class="clear">{/if}
  {foreachelse}
    <center><br><b>No videos where found.</b><br></center>
  {/foreach}
  <br class="clear"><br><br>
  <center>{$pagination}</center>
  <br>
</div>

<div class="right" style="width:200px;">
{php}
$spot=1;
include("modules/banner.php");
{/php}
<br><br>
 {include file="tags_cloud.html"}
</div>

<br>