<table cellpadding="0" cellspacing="0" width="770" align="center">
  <tr><td align="center">
    <br><br>
  
	<fieldset style="width:300px;">
	  <legend>&nbsp;<b>User Authentication</b>&nbsp;</legend>
	  <br><div class="error" style="width:250px; display:none;" id="msg_error"><img src="images/icons/forbidden.png" align="absmiddle">&nbsp;&nbsp;<span id="error_msg"></span></div>
	  	  
	  <form name="login_form" id="login_form" action="javascript:Login();">
	    <table>
	      <tr>
	        <td rowspan="3"><img src="images/lock.png" border="0"></td>
	        <td align="right"><b>Username:</b></td><td><input type="text" name="user" id="input_username"></td>
	      </tr>
	      <tr><td align="right"><b>Password:</b></td><td><input type="password" name="pass" id="input_password"></td></tr>
	      <tr><td align="right" colspan="2"><img src="images/loading.gif" align="absmiddle" style="display:none;" id="img_loading">&nbsp;<a class="small_button" href="javascript:void(0);" onclick="$('login_form').submit();" style="float:right;"><span>Login</span></a> </td></tr>
	    </table>
	    <input type="submit" style="display:none;">
	  </form><br>
	</fieldset>
  </td></tr>
</table><br><br>