<div id="rtmp_servers_layer" style="display:none;" class="floating_layer">
<table cellpadding="0" cellspacing="0" align="center" width="100%" height="100%">
  <tr><td align="center">
  
     <table cellpadding="0" cellspacing="0" class="draggable">
       <tr class="draggable_handle" style="cursor:pointer;">
         <td background="images/modalbox/otl.png" width="8" height="25"></td>
         <td background="images/modalbox/ot.png" height="25" valign="bottom">
           <span class="modalbox_title">RTMP Servers Manager</span>
           <span class="modalbox_buttons">
             &nbsp;
             <a href="javascript:void(0);" rel="RTMP Servers Instructions" onclick="OpenRTMPInstructions();"><img src="images/icons/help_big.png" onmouseover="this.src='images/icons/help_big_on.png';" onmouseout="this.src='images/icons/help_big.png';"></a>
             <a href="javascript:void(0);" onclick="CloseLayer('rtmp_servers_layer');"><img src="images/icons/close_big.png" onmouseover="this.src='images/icons/close_big_on.png';" onmouseout="this.src='images/icons/close_big.png';"></a>
           </span>
         </td>
         <td background="images/modalbox/otr.png" width="8" height="25"></td>
       </tr>
       <tr>
         <td background="images/modalbox/ol.png" width="8"></td>
         <td>
           <table cellpadding="0" cellspacing="0">
	         <tr>
	           <td background="images/modalbox/itl.png" width="10" height="10"></td>
	           <td background="images/modalbox/it.png" height="10"></td>
	           <td background="images/modalbox/itr.png" width="10" height="10"></td>
	         </tr>
	         <tr>
	           <td background="images/modalbox/il.png" width="10"></td>
	           <td bgcolor="#C9CDD0" class="modal_text" style="width:auto;">
	               <div id="rtmp_servers_contents" style="width:930px; height:350px; overflow-x:auto;"></div>
	           </td>
	           <td background="images/modalbox/ir.png" width="10"></td>
	         </tr>
	         <tr>
	           <td background="images/modalbox/ibl.png" width="10" height="10"></td>
	           <td background="images/modalbox/ib.png" height="10"></td>
	           <td background="images/modalbox/ibr.png" width="10" height="10"></td>
	         </tr>
	       </table>         
         </td>
         <td background="images/modalbox/or.png" width="8"></td>
       </tr>
       <tr>
         <td background="images/modalbox/obl.png" width="8" height="11"></td>
         <td background="images/modalbox/ob.png" height="11"></td>
         <td background="images/modalbox/obr.png" width="8" height="1"></td>
       </tr>
     </table>
  </td></tr>
</table>
</div>